[Unit]
Description=Polymarket Ingestor (Python, modular)
After=network-online.target
Wants=network-online.target


[Service]
Type=simple
User=admin
EnvironmentFile=/etc/default/polymarket-ingestor
WorkingDirectory=/home/admin/Documents/polybloom
ExecStart=/opt/polymarket-ingestor-venv/bin/python -m polymarket_ingestor.main
Restart=always
RestartSec=5
StandardOutput=append:/var/log/polymarket-ingestor.log
StandardError=append:/var/log/polymarket-ingestor.log


[Install]
WantedBy=multi-user.target